# Python
*.pyc
__pycache__/

# Virtual environment
.venv/

# IDE
.idea/
*.iml
misc.xml
modules.xml
profiles_settings.xml
vcs.xml

# Generated
/data/processed/news.csv

# Models
models/fake_news_model.pkl
models/tfidf_vectorizer.pkl
